.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 2px;
    border-collapse: collapse;
}

.table td {
    display: table-cell;
    font-size: 16px;
    text-align: center;
}

input {
    font-size: 14px;
    height: 40px;
    width: 100%;
    padding: 6px
}

.totalOfTotals {
    font-weight: bold;
    font-size: 18px;
}